<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLAlchemy HomeWork # 16</title>
    <base url="/">
</head>

<style>
    H1 {
        text-align: center;
        color: #3fbc00;
        font-family: Segoe UI Black, monospace;
    }
    div, p {
        font-size:18px;
        text-align:center;
        font-family: Times New Roman, serif;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .header a {
        display:inline-block;
        padding:10px;
    }
</style>

<body>

<h1>Главная станица<br/>домашней работы № 16 &laquo;SQL Alchemy&raquo;</h1>

<p>
    <b>Ссылки для просмотра пользователей, заказов и предложений:</b>
</p>

<div class="header">
    <a style=padding:10px; href="http://127.0.0.1:5000/users/" target="_blank" title="при нажатии откроется новая вкладка">просмотр всех пользователей</a><br/>
    <a href="http://127.0.0.1:5000/users/5/" target="_blank" title="при нажатии откроется новая вкладка">просмотр только одного пользователя</a><br/>
    <a href="http://127.0.0.1:5000/orders/" target="_blank" title="при нажатии откроется новая вкладка">просмотр всех заказов</a><br/>
    <a href="http://127.0.0.1:5000/orders/3/" target="_blank" title="при нажатии откроется новая вкладка">просмотр только одного заказа</a><br/>
    <a href="http://127.0.0.1:5000/offers/" target="_blank" title="при нажатии откроется новая вкладка">просмотр всех предложений</a><br/>
    <a href="http://127.0.0.1:5000/offers/2/" target="_blank" title="при нажатии откроется новая вкладка">просмотр только одного предложения</a><br/>
</div>

</body>
</html>